* {
    box-sizing: border-box;
}
body {
    display: grid;
}
#main {
    width: 1024px;
    height: 1600px;
    place-self: center;
    padding: 15px;
}
#header {
    border: 1px solid #0a3622;
    border-radius: 5px;
    height: 10%;
    margin: 1%;
}
#content {
    height: 80%;
    margin: 1%;
}
#left-content {
    border: 1px solid #0a3622;
    border-radius: 5px;
    float: left;
    width: 28%;
    height: 100%;
}
#right-content {
    border: 1px solid #0a3622;
    border-radius: 5px;
    float: right;
    width: 70%;
    height: 100%;
}
#footer {
    border: 1px solid #0a3622;
    border-radius: 5px;
    width: 100%;
    height: 8%;
    margin: 0;
    clear: both;
}
[class*="col-"] {
    width: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
@media only screen and (max-width: 850px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}