body {
    display: grid;
    font-family: Arial, Tahoma, serif;
    font-size: 16px;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    #right-content {
        width: 80%;
        float: left;
    }
    #left-content {
        width: 80%;
        clear: both;
    }

}
#main {
    width: 1600px;
    height: 100%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;

}
#header {
    height: 100px;
    background: white;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    margin-bottom: 5px;
    position: relative;
    display: grid;
}
#head-link {
    height: 30px;
    background: white;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    margin-bottom: 5px;
}
#left-content {
    width: 28%;
    height: 800px;
    background: white;
    border: 1px solid #cdcdcd;
    float: left;
    border-radius: 5px;
    box-sizing: border-box;
}
#right-content {
    width: 70%;
    height: fit-content;
    background: white;
    border: 1px solid #cdcdcd;
    float: left;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
@media only screen and (max-width: 800px) {
    #right-content {
        width: 90%;
        height: auto;
    }
    #left-content {
        width: 90%;
        height: auto;
    }
}
#footer {
    position: absolute;
    width: 100%;
    height: 60px;
    background: white;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    clear: both;
    box-sizing: border-box;
    padding-bottom: 0;
}
a {
    font-style: italic;
    text-decoration: none;
}
#bonus {
    margin: 5px;
    text-align: center;
}
#about-us {
    display: block;
    position: absolute;
    bottom: 5px;
}
#about-us p {
    position: relative;
    margin: 10px;
    padding: 5px;
    font-family: Tahoma;
}
#logo {
    position: absolute;
    width: auto;
    height: 100px;
    float: left;
}
#title-logo {
    position: relative;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    place-self: center;
}
iframe {
    width: 100%;
}
#left-content-1, #left-content-2, #left-content-3
{
    position: relative;
    margin: 5px;
    width: auto;
}
#right-content-video {
    position: relative;
    margin: 5px;
}
#right-content h2 {
    text-align: center;
}
#left-content img:hover {
    scale: 1.03;
}
